{% extends "base.html" %}

{% block title %}{{title}} - Polyglot{% end %}

{% block head %}
<script src="/static/js/markdown.min.js"></script>
{% end %}

{% block body %}
  <header>
    {% if cur_lang == base_lang %}
    <h2>{{ title }}</h2>
    <h3>({{ path }})</h3>
    {% else %}
    <h2>{{ title }}</h2>
    <h3>({{ translation }}% translation of <a href="/{{base_lang}}/{{path}}">{{ path }}</a>)</h3>
    {% end %}
    <select id="langs">
      {% for lang in sorted(langs) %}
        {% if cur_lang != lang %}
          <option value="{{ lang }}">{{ lang }}</option>
        {% else %}
          <option selected value="{{ lang }}">{{ lang }}</option>
        {% end %}
      {% end %}
    </select>

    <button type='button' class='btn-togglecontrols'>Toggle Controls</button>
  </header>

  <section id="page" class="lines">
    <script>document.getElementById('page').style.visibility = "hidden";</script>
  {% for line in content %}
    {% if line.get('stale', None) %}
    <div class='line stale' data-rev="{{ line['rev'] }}">
      <span class='line-data' title="{{ escape(line['base_data']) }}">{% raw (escape(line['data'])) %}</span>
    {% elif line.get('untranslated', None) %}
    <div class='line untranslated'>
      <span class='line-data'>{% raw (escape(line['base_data'])) %}</span>
    {% else %}
    <div class="line" data-rev="{{ line['rev'] }}">
      <span class='line-data'>{% raw (escape(line['data'])) %}</span>
    {% end %}
      <div class='controls'>
        <button type='button' class='btn-edit'>Edit</button>
        {% if cur_lang == base_lang %}
        <button type='button' class='btn-newline'>New Paragraph Before</button>
        {% end %}
      </div>
    </div>
  {% end %}
  </section>

  {% if cur_lang == base_lang %}

  <form method="post" class='controls'>
    <hr>

    <p>Add new paragraph</p>
    <input type="hidden" name="add" value="true">
    <textarea name="data" style="width: 100%; box-sizing: border-box;"></textarea>
    <br>
    <input type="submit">
  </form>
  {% end %}
{% end %}

{% block scripts %}
  <script>var polyglot = { path: "{{path}}" };</script>
  <script src='/static/js/article.js'></script>
  <script>requestAnimationFrame(function() {
    document.getElementById('page').style.visibility = "";
  });</script>
{% end %}
