<!doctype html>
<html>
  <head>
    <title>Article!</title>
    <style>

      body {
        background-color: #f1efef;
      }
      .container {
        max-width: 920px;
        margin: 0 auto;
        font-family: "Open Sans", sans-serif;
        font-size: 11pt;
        color: #444;
      }

      .untranslated {
        color: #966;
      }

      .stale {
        color: #999;
      }

      h2, h3 {
        display: inline-block;
      }

      #langs { margin-left: 1em; }

      h3 { color: #999; font-weight: normal; margin-left: .3em }

    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <h2>[ Create a page ]</h2>
        <h3>{{ path }}</h3>

        <select id="langs">
          {% for lang in sorted(langs) %}
            {% if cur_lang != lang %}
              <option value="{{ lang }}">{{ lang }}</option>
            {% else %}
              <option selected value="{{ lang }}">{{ lang }}</option>
            {% end %}
          {% end %}
        </select>
      </div>

      <form method="post">
        <p>Create page "{{ path }}" for language "{{ cur_lang }}".</p>

        <div>
          <label for='title'>Title in {{cur_lang}}</label>
          <input type='text' id='title' name='title'>
        </div>

        <input type='submit'>
      </form>
    </div>
    <script>
      document.getElementById('langs').addEventListener('change', function() {
        if (this.value !== "") {
          location.href = "/" + this.value + "/{{ path }}";
        }
      });
    </script>
  </body>
</html>

