{% extends "base.html" %}

{% block title %}Create a page - {{ path }} - Polyglot{% end %}

{% block body %}
  <div>
    <h2>[ Create a page ]</h2>
    <h3>{{ path }}</h3>

    <select id="langs">
      {% for lang in sorted(langs) %}
        {% if cur_lang != lang %}
          <option value="{{ lang }}">{{ lang }}</option>
        {% else %}
          <option selected value="{{ lang }}">{{ lang }}</option>
        {% end %}
      {% end %}
    </select>
  </div>

  <form method="post">
    <p>Create page "{{ path }}" for language "{{ cur_lang }}".</p>

    <div>
      <label for='title'>Title in {{cur_lang}}</label>
      <input type='text' id='title' name='title'>
    </div>

    <input type='submit'>
  </form>
{% end %}
{% block scripts %}
  <script>
    document.getElementById('langs').addEventListener('change', function() {
      if (this.value !== "") {
        location.href = "/" + this.value + "/{{ path }}";
      }
    });
  </script>
{% end %}
